* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator-display {
  background: #222;
  color: #fff;
  font-size: 1.6em;
  padding: 0.5em 0.75em;
  text-align: right;
}

.calculator-keys > * {
  background-color: #fff;
  padding: 0.5em 1.25em;
  position: relative;
  text-align: center;
}
